<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Created At</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.createdAt|date}}</td>
            <td>{{employee.status}}</td>
            <td>
                <a [routerLink]="['/employees-detail',employee.id]">chi tiết</a>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li *ngFor="let page of pages" class="page-item"><a [routerLink]="['/employees']"
              [queryParams]="{numberPage:page,filter:'a'}"  class="page-link">{{page}}</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>