<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Created At</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.createdAt|date}}</td>
            <td>{{employee.status}}</td>
            <td>
                <a [routerLink]="['/employees-detail',employee.id]">chi tiết</a>
            </td>
        </tr>
    </tbody>
</table>